@media ( min-width: 1024px ) 

  .category-grid--live
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: auto auto auto auto 
    gap: 23.11px

  .category-main-card__details--live
    padding: 20px

  .category-main-card__title--live
    font-size: 22px
    margin-bottom: 40px

  .category-main-card--live
    grid-row-start: 1
    grid-row-end: 5

  .category-line-card__details--live
    display: grid
    align-content: space-between
    padding: 20px
  
  .category-line-card__img-wrapper--live
    max-width: 142.22px

  .category-line-card__img--live
    max-width: 100%
    border-radius: 10px