@media ( min-width: 420px ) 

  .category-main-card__title--food
    font-size: 22px


@media ( min-width: 1024px ) 

  .category-grid--food
    display: grid
    grid-template-areas: "b a c" "d a e"
    justify-content: space-between
    grid-template-columns: 244px 500px 244px

  .category-grid--food li:nth-child(1)
    grid-area: a

  .category-grid--food li:nth-child(2)
    grid-area: b

  .category-grid--food li:nth-child(3)
    grid-area: c

  .category-grid--food li:nth-child(4)
    grid-area: d

  .category-grid--food li:nth-child(5)
    grid-area: e

  .category-main-card__details--food
    padding: 20px

  .category-main-card__title--food
    font-size: 22px
    margin-bottom: 50px

  .category-line-card--food
    display: grid

  .category-line-card__details--food
    order: 2
    padding: 17px

  .category-line-card__img-wrapper--food
    height: 200px
    border-radius: 10px
    overflow: hidden

  .category-line-card__img--food
    order: 1
    width: 100%
    height: 100%
    max-width: 244px
    object-fit: cover

  .category-line-card__title--food
    font-size: 16px


    