.article
  color: #404040
  font-size: 16px
  line-height: 175%
  
  
.article-body h1,
.article-body h2,
.article-body h3,
.article-body h4
  font-weight: 600
  color: #171717
  line-height: 175%


.article__h1
  font-size: 36px
  line-height: 130%
  margin-top: 0px

.article-body h2
  font-size: 28px
  line-height:140%

.article-body h3
  font-size: 24px
  line-height: 140%

.article-body h4
  font-size: 20px


.article-body table
  color: #171717
  width: 100%
  font-size: 16px
  margin: 3em 0
  border-collapse: collapse
  text-align: left

.article-body table th, .article-body table td
  padding: 8px 
  border: 1px solid #d4d4d4
  
.article-body table caption
  caption-side: bottom
  margin-top: 10px
  font-size: 13px
  color: #999999


.article-body table thead
  border-bottom: 3px solid #404040
  background-color: #F3F4F6


.article-body ul
  list-style: disc
  padding-left: 1.625em

.article-body ol
  padding-left: 1.625em
  list-style: decimal

.article-body ul li::marker
  font-size: 25px
  color: #d4d4d4

.article-body ol li::marker
  color: #737373

.article-body li
  padding-left: 0.375em

.article-body li:not(:last-child)
  margin-bottom: 10px

.article-body a
  text-decoration: underline
  text-underline-offset: 2px
  color: blue


.article-body blockquote
  margin: 30px auto
  border-left: 3px solid #e5e5e5
  padding-left: 1em
  padding-top: 5px
  padding-bottom: 5px
  width: 100%
  box-sizing: border-box
  font-style: italic
  
.article-body blockquote p::before
  content: open-quote

.article-body blockquote p::after
  content: close-quote

.article-body blockquote cite
  display: block
  text-align: right
  font-style: normal


.article-body figure
  margin: 30px 0
  text-align: center
  
.article-body figure img
  width: 100%
  display: block
  border-radius: 5px
  


.article__main-img
  width: 100%
  height: auto
  border-radius: 20px
  margin-bottom: 40px

.announcement
  margin-bottom: 60px

.article-nav
  margin-bottom: 60px

.article-nav__wrapper
  margin: 0
  display: flex
  flex-direction: column-reverse
  background-color: #f9f9f9
  padding: 26px
  border-radius: 20px

.article-nav__list
  margin: 0
  padding: 0 18px
  display: flex
  flex-direction: column
  gap: 10px
  list-style: decimal

.article-nav__item
  color: #666666
  font-size: 14px

.article-nav__link
  color: #666666
  text-underline-offset: 4px
  text-decoration: underline
  
.article-nav__caption
  font-size: 20px
  margin-bottom: 20px
  color: #171717


  
.aricle-footer__details
  display: flex
  padding: 14px
  justify-content: space-between
  align-items: center
  background-color: #fafafa
  border-radius: 20px
  margin-bottom: 120px

.article-footer__autor
  display: grid
  grid-template-columns: auto auto
  grid-template-rows: 1fr 1fr
  align-items: end
  column-gap: 7px
  font-size: 14px
  line-height: normal
  color: #404040


.article-footer__autor-img-wrapper
  grid-row-start: 1
  grid-row-end: -1
  width: 40px
  height: 40px

.article-footer__autor-img
  display: block
  width: 100%
  height: 100%
  border-radius: 20px
  object-fit: cover

.article-footer__autor-name
  margin: 0
  
.article-footer__date
  font-size: 12px  

  

@media ( min-width: 1024px ) 

  .article
    font-size: 18px

  .article__h1
    font-size: 60px
    margin-bottom: 40px

  .article-body h2
    font-size: 40px

  .article-body h3
    font-size: 27px

  .article-body h4
    font-size: 23px
  
  .article-body li:not(:last-child)
    margin-bottom: 15px

  .article-nav__wrapper
    padding: 30px 90px 30px 90px

  .article-nav__caption
    font-size: 22px

  .article-nav__item
    font-size: 18px


  .aricle-footer__details
    padding: 30px
  
  .article-footer__autor-img-wrapper
    width: 44px
    height: 44px
