@media ( min-width: 1024px ) 

  .category-grid--live
    display: grid
    grid-template-columns: 4fr 3fr
    grid-template-rows: auto auto auto auto 
    gap: 23.11px

  .category-main-card__details--live
    padding: 20px

  .category-main-card__title--live
    font-size: 22px
    margin-bottom: 40px

  .category-main-card--live
    grid-row-start: 1
    grid-row-end: 5

  .category-main-card__img--live
    height: 490px
    width: 100%
  
  .category-line-card__wrapper
    height: 100%

  .category-line-card--live
    grid-template-rows: auto
    grid-template-columns: 9fr 4fr
    height: 100%

  .category-line-card__details--live
    display: grid
    align-content: space-between
    padding: 20px

  .category-line-card__img--live
    height: 100%
    border-radius: 10px