@media ( min-width: 1024px ) 

  .category-grid--sport
    display: flex
    gap: 16px
    width: max-content

  .category-main-card--sport
    max-width: 244px

  .category-main-card__details--sport
    padding: 17px

  .category-main-card__title--sport
    font-size: 16px
    margin-bottom: 20px
 
  .category-line-card--sport
    display: grid
    max-width: 244px

  .category-line-card__details--sport
    order: 2
    padding: 17px

  .category-line-card__img-wrapper--sport
    height: auto
    border-radius: 10px
    overflow: hidden

  .category-line-card__img--sport
    order: 1
    max-width: 244px
    width: 100%